<div ng-include="nav">
</div>
<div class="dashboard">
    <div class="container dashaboard-story-post mt-5">
        <div class="row">
            <div class="col-6">
                <h3>The Winter Gaze</h3>
                <p>Perhaps the cruelest members of the Unseelie Court are the three ice princesses. These arch fey report directly to the Snow Queen, their mother. The trio of arch fey worship the snow she walks on. They are vicious, cold-hearted, and find it hard to let go of grudges.</p>
            </div>
            <div class="col-6">
                <img class="side-picture" src="./themes/img/ekaterina-shestakova.jpg" alt="">
            </div>
        </div>
    </div>
</div>
